PORT=3000
NODE_ENV=development
REACT_APP_BACKEND_URL=
KEY_SECRET_ACCESS_TOKEN=90a652f96041f580dcf615567cdbec0167bf44a8
KEY_SECRET_REFRESH_TOKEN=a250007831a10717ef1bcacbba040ad2c68bfb53
#The base URL for all locations. If your app is served from a sub-directory on your server, you'll want to set
#this to the sub-directory. A properly formatted basename should have a leading slash, but no trailing slash.
REACT_APP_ROUTER_BASE_NAME=