:root {
    --color-primary: #45c3d2;
    --color-title-sub: #969495;
    --color-btn: #ffc419;
    --color-background-section: #f5f5f5;
    --color-title-sub: #969495;
}

* {
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
}
